*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/google-services.json
/app/libs/
/app/client_secret_705258621440-c66o3p7k902d4nchmsvm29e9c1cvr1oj.apps.googleusercontent.com.json